/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin:0; padding:0; }
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}
input, select, textarea { font-size:100%; }
/* 去掉各Table  cell 的边距并让其边重合 */
table { border-collapse:collapse; border-spacing:0; }
/* IE bug fixed: th 不继承 text-align*/
th { text-align:inherit; }
/* 去除默认边框 */
fieldset, img { border:0; vertical-align:middle; }
iframe { display:block; }
/* 去掉列表前的标识, li 会继承 */
ol, ul { list-style:none; }
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:500; }
/* ie6 7 8(q) bug 显示为行内表现 */
q:before, q:after { content:''; }

/* 默认不显示下划线，保持页面简洁 */
ins, a { text-decoration:none;color: #333 }
/* 让链接在 hover 状态下显示下划线 */
a:hover { color:#FF503F; }
/* 清理浮动 */
.clearfix:after,.row:after {
  content: " ";display: block;clear: both;height: 0;
}
.clearfix,.row {*zoom: 1;}

/*正文内容开始.   */
/* ============================================ *
 * 默认样式 
 * ============================================ */
/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {line-height: 1.6; font: 14px "Microsoft YaHei",sans-serif; }

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1450950208_655241.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1450950208_655241.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1450950208_655241.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1450950208_655241.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1450950208_655241.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.icon {
  font-family:"iconfont"!important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
} 
.row{width:1200px;margin: 0 auto}
.c-key{
  color:#FF503F;margin:0 5px;font-style: normal; }
a.c-key:hover,
a.c-999:hover
{color:#FF503F}
a.c-999,.c-999{color: #999}

/* -------------------------------------------- *
 * icon
 */
.icon-type-2:before{content: '\e636'}
.icon-type-3:before{content: '\e638'}
.icon-remark:before{content: '\e637'}


.c-hot{color: #FF503F;margin:0 5px}
.bold{font-weight: bold;}
.fl{float: left;}
.fr{float: right;}
.decoration{text-decoration: underline;}
.fz-big{font-size:20px;}
.c-block{color: #333;margin:0 5px}
.js-is-hide{display: none;}
.tac{text-align: center;}
.hide{opacity: 0;visibility: hidden;}

/*  button */
.u-btn{position: relative;font-weight: bold;font-family: '微软雅黑', Gadget, sans-serif;}
.u-btn:active{background:#ed0000;-webkit-transform:scale(0.95);transform:scale(0.95);}
.u-btn:before,
.u-btn[disabled]:hover:before
{content:"";display:block;background:rgba(255,255,255,0.08);position:absolute;left:0;top:0;right:0;bottom:0;transform:scale(0,1);-webkit-transform:scale(0,1);transition:transform 0.3s ease;-webkit-transition:-webkit-transform 0.3s ease;}
.u-btn:hover:before{transform:scale(1,1);-webkit-transform:scale(1,1);}
.u-btn[disabled],.u-btn.disabled{
  background-color: #ccc;
  color: #fff;
  border-color: #eee;
  cursor: default;
}
.u-btn.disabled{cursor: pointer;}

.btn-s{
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    transition: all 150ms ease;
    -webkit-transition-property: background-color border-color color;
    -moz-transition-property: background-color border-color color;
    transition-property: background-color border-color color;
    -webkit-font-smoothing: antialiased;
      -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.btn-s[disabled] {
background-color: #bbb;
    position: relative;
    color: darkgray;
    border-radius: 25px;
}

.btn-s[disabled]:active,
.btn-s[disabled]:focus {
    background-color: #8f8f8f
}


.btn-s[disabled]:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -14px;
    margin-top: -14px;
    border-radius: 50%;
    border: 3px solid white;
    border-top-color: transparent;
    -webkit-animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

/* -------------------------------------------- *
 * 顶部导航
 */
.topnav{height:36px;color: #8f8f8f;background-color: #f8f8f8;/*border-bottom: 1px solid #dfdfdf;*/}
.topnav-l{float: left;color: #999;line-height: 36px;}
.topnav-l .icon{display: inline-block;min-width:26px;text-align: center;margin-top: 5px;font-size: 20px;line-height:26px;color: #b7b7b7;border-radius: 50%}
.topnav-l .icon-item:hover .icon{background-color: #fff;color: #FF503F}
.topnav-l-weixin{position: relative;}
.topnav-l-weixin img{max-width: 220px;height: auto}
.topnav-l .topnav-l-weixin{border-radius: 0;position: relative;z-index: 99;border-bottom: 0;}
.topnav-l-weixin:hover .hide{
  visibility: visible;opacity: 1;
  -webkit-transform: translate(0,0) translateZ(0);
     -moz-transform: translate(0,0) translateZ(0);
          transform: translate(0,0) translateZ(0);
  
}
.topnav-l-weixin .hide{
  -webkit-transform: translate(0,-10px) translateZ(0);
     -moz-transform: translate(0,-10px) translateZ(0);
          transform: translate(0,-10px) translateZ(0);
  position: absolute;top:32px;left: -120px;
  padding: 10px;background-color: #fff;
  border: 1px solid #eee;z-index: 98;
}

.topnav-r{float: right;white-space: nowrap;}

.topnav-login,
.topnav-login form{display: inline-block;}

.hover-show-box {display: inline-block;/*float: left;*/position: relative;}
.hover-show-box .tt{width: 80px;display: inline-block;border: 1px solid #f8f8f8;border-bottom: 0;padding:0 10px;line-height:36px;position: relative;z-index:99;}
.topnav-r a{color: #8f8f8f}
.topnav-r a:hover,
.topnav-r a.c-key{color: #FF503F}
.topnav-r a.c-key:hover{color: #d22000;text-decoration:underline;}

.hover-show-box .hide{padding:0 0 10px;line-height:30px;position: absolute;left:0;top:98%;border: 1px solid #eee;z-index:98;background-color: #fff;}
.hover-show-box .hide a{min-width:80px;display: block;padding: 0 10px;}
.hover-show-box .hide a:hover{background-color: #f8f8f8;color: #8f8f8f}
.hover-show-box:hover .tt{background-color: #fff;border-color: #eee;}
.hover-show-box:hover .hide{opacity: 1;visibility: visible;}
.topnav-r .btn:hover,
.topnav-r .btn.topnav-btn_login{color: #FF503F;border-color: #FF503F;}
.topnav-r .fl{color: #999;line-height: 36px;}
.topnav-r_help{margin:0 15px}
.icon-arr{display: inline-block;}
.topnav-r .btn{color: #8f8f8f;padding: 0 10px;display: inline-block;background-color: #fff;border: 1px solid #eee;line-height: 20px;margin-top:7px;margin-left:5px;}

/* transition */
.icon-arr,
.hover-show-box .hide,
.hover-show-box .tt,
.topnav-r a,
.topnav-l-weixin .hide,
.nav-item:before,
.nav-item
{
    -webkit-transition:0.35s ease-in-out;
       -moz-transition:0.35s ease-in-out;
            transition:0.35s ease-in-out;
}

.hover-show-box:hover .icon-arr{
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  transform:rotate(180deg);
}

/* -------------------------------------------- *
 * 头部
 */

.head{min-height:70px;padding:15px 0}
.head h1{display: none;}
.logo{float: left;height: 70px}
.nav{float: right;margin-top:24px;font-size: 16px;}
.nav-item{position: relative;display: inline-block;margin-left:10px;padding:0 5px 15px;}
.nav-item:before{
 -webkit-transform: scale(0.5)  translateZ(0);
  -ms-transform: scale(0.5)  translateZ(0);
  opacity: 0;visibility: hidden;
  content: '';position: absolute;bottom:0;left:0;width: 100%;height: 2px;background-color: #FF503F;}
.nav-item.active:before,
.nav-item:hover:before{
  -webkit-transform: scale(1)  translateZ(0);
  -ms-transform: scale(1)  translateZ(0);
          opacity: 1;
          visibility: visible;
  }
  .nav-item.active{color: #FF503F}

  /* ============================================ *
   * 尾部
   * ============================================ */
 
.foot-link-faith,
.foot-link-s360,
.foot-link-norton,
.foot-item-logo{background: url(img/foot.png) 0 0 no-repeat;} 
.footer{padding:40px 0 20px;background-color: #282828;color: #888;}

.foot-list{width: 100%;overflow: hidden;height: auto;margin-bottom:50px;}
.foot-item{
float: left;
border-left: 1px solid #262424;
border-right: 1px solid #3a3737;
padding:0 40px;
min-height: 210px;
}
.foot-item_first{border-left: 0;padding-left: 0;}
.foot-item_end{float: right;min-width: 290px;text-align: right;line-height:1.8;}

.foot-item_title{font-size: 16px;color:#999;margin-bottom: 10px; }
.foot-item a{color: #888;display: block;line-height:28px;}
.foot-item a:hover,
.foot-link a:hover{color: #fff}

.foot-item_head{min-height:70px;text-align: center;}
.foot-item_head .icon{font-size:36px;}
.foot-item_head .call{text-align: left;display: block;font-style: normal;font-size: 22px;color: #fff}
.foot-item-phone .foot-item_head{text-align: left;}
.foot-item-logo{float: right;display: inline-block;width: 182px;height: 60px;background-position: -190px 0;}

.foot-link{text-align: center;margin-bottom: 20px;color: #999}
.foot-link a{color: #888;margin-right:8px;}

.foot-link-faith,
.foot-link-s360,
.foot-link-norton{display: inline-block;height: 34px;width: 95px;vertical-align: middle;}
.foot-link-faith{background-position: 0 -100px;margin-left: 10px;}
.foot-link-faith:hover{background-position: 0 -135px;}
.foot-link-s360{background-position: -118px -100px;}
.foot-link-s360:hover{background-position: -118px -135px;}
.foot-link-norton{background-position: -234px -100px;}
.foot-link-norton:hover{background-position: -234px -135px;}

.wxbox .icon{display: block;font-size:30px;color: #09a748}
.wxbox-img{margin-left: -120px;float: left;}
.wxbox {padding-left: 120px;line-height:1.8;}

.index-fixed{position: fixed;right: 0;bottom: 20%;z-index: 999;text-align: center;font-size: 12px;}
.index-fixed-item{display: block;position: relative;
  width: 40px;padding: 5px 0;color: #f1f1f1;
  background-color: #c92233;}

.index-fixed-item.fixed-item-weixin .txt{border-radius: 0;width: 130px;left: -140px;}
.index-fixed-item.fixed-item-weixin .txt span{display: block;text-align: center;margin-top: 5px;}

.index-fixed-item:hover{color: #fff;background-color: #FF503F;}
.index-fixed-item .icon{font-size: 22px;display: block;}
.index-fixed-item_icon{display: inline-block;position: relative; z-index:3}

.index-fixed-item:hover .txt{
  visibility: visible;
  opacity: 1;
-webkit-transform: translate(0,0) translateZ(0);
   -moz-transform: translate(0,0) translateZ(0);
        transform: translate(0,0) translateZ(0);

}
.index-fixed-item .txt{
  -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
          transition: 0.5s;
  -webkit-transform: translate(50px,0) translateZ(0);
     -moz-transform: translate(50px,0) translateZ(0);
          transform: translate(50px,0) translateZ(0);
  visibility: hidden;
  opacity: 0;
  position: absolute;left:-155px;top:0;background-color: #FF503F;width: 145px;padding:7px 15px 6px 0;color: #fff;text-align: right;border-radius:25px 0 0 25px;
  z-index: 1;
}
.index-fixed-tt{font-size: 16px;display: block;}
#gotop{visibility: hidden;opacity: 0;
-webkit-transition: 0.35s;
   -moz-transition: 0.35s;
        transition: 0.35s;
      }
#gotop.js-is-active{visibility: visible;opacity: 1}

#fn-alert{
            position: fixed;
            left: 50%;
            top: 50%;
            width: 200px;
            padding: 15px;
            background: rgba(0,0,0,.7);
            color: #fff;
            font-size: 14px;
            text-align: center;
            line-height: 1.5;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            border-radius:0 0 5px 5px;
            z-index: 9999;
}
#fn-alert:before{
  -webkit-animation:prog 6s ease-out;
     -moz-animation:prog 6s ease-out;
          animation:prog 6s ease-out;
  content: '';
  height: 3px;
  position: absolute;
  left: 0;
  background-color:#4bbdf0;
  top: 0;
  width:100%
}
@-webkit-keyframes prog {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes prog {
  0% {
     width: 0;
  }
  100% {
    width: 100%;
  }
}@keyframes prog {
  0% {
     width: 0;
  }
  100% {
   width: 100%; 
  }
}

/*表单验证*/
/*.input-validation-error{
background-color: #fdf7f7!important;
border-color: #eed3d7!important;}
.field-validation-error{font-size: 12px;color:#FF503F;position: absolute;right: 0;top:-10px;background-color: #fff; }
.field-validation-error:before{font-family:"iconfont"; content: '\e60f';font-size:14px;margin-right: 5px;}
*/
.ui-page{text-align: center;line-height:14px;position:relative;font-size: 12px;width: 100%;overflow: hidden;margin:30px 0}
.page-list li{display: inline-block;
*display: inline;
*zoom: 1;margin-right: 5px;}
.page-list  a{
    display: inline-block;
    min-width:20px;
    padding:0 5px;
    line-height:30px;
    background:#fff; 
    border-radius: 3px;
    color:#8D8F8F;
    text-align:center;
}
.page-list  li.hidden{display: none;}
.page-list  li.active a,
.page-list  li.red a
{background:#FF503F;color:#fff;}
.page-list  a:hover{background-color: #eee;color:#868686;}

.page-list  a{-webkit-transition: 0.15s;
   -moz-transition: 0.15s;
        transition: 0.15s;
}


/* -------------------------------------------- *
 * error
 */
.validation-summary-errors{
  margin: 15px auto 15px;
  padding: 3px 5px 3px 0;
  height: auto;
  opacity: 1;
  line-height: 26px;
  background: #FDEEE9;
  border: 1px solid #fadcd3;}
.validation-summary-errors li{
  display: block;
  padding-left:10px;
  font-size: 13px;
  color: #4D4D4D
}

.type2 .icon-type:before{content: '\e636'}
.type3 .icon-type:before{content: '\e638'}
.type4 .icon-type:before{content: '\e61d'}


.y-tips{
  position: relative;
  padding: 8px 48px 8px 16px;
  border-radius: 4px;
  color: #666;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #e7f6e1;
  background-color: #f3faf0;
}

.y-tips-error {
  border: 1px solid #ffddcc;
  background-color: #ffeee6;
}

/* -------------------------------------------- *
 * 404
 */
.m-404{position: relative;background: url(img/404.png) 0 0 no-repeat;height: 725px;width:940px;text-align: center;}
.m-404 .txt{position: absolute;bottom:80px;left:0;width: 100%;font-size: 18px;}