<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ten_thousand.silver_paving.dto.investMapper">

    <resultMap id="AccountDto" type="com.ten_thousand.silver_paving.dto.AccountDto">
        <id property="accountId" column="account_id"/>
        <result property="totalDeposits" column="total_deposits"/>
        <result property="balance" column="balance"/>
        <result property="amountInvest" column="amount_invest"/>
        <result property="investorId" column="investor_id"/>
    </resultMap>

    <!--查询余额-->
    <select id="queryBalance" resultType="Double">
        SELECT ac.balance FROM tb_investor i join
        tb_account ac on i.investor_id=ac.investor_id where i.investor_id=#{investorId};
    </select>

<!--投资方法，修改余额和投资额-->
    <update id="invest">
        update tb_account set balance= balance - #{num1} , amount_invest =amount_invest + #{num2} where account_id=#{accountId};
    </update>


    <!--查询账户-->
    <select id="queryAccountByInvestId" resultMap="AccountDto">
        SELECT * from tb_account  WHERE investor_id=#{investorId};
    </select>

</mapper>