<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，当前文档的一个标识符-->
<mapper namespace="com.ten_thousand.silver_paving.dto.hzdto.RegisterMapper">
    <!--配置开启二级缓存-->
    <cache/>
    <!--resultMap结果集的映射-->
    <!--id是当前resultmap的唯一标识-->
    <!--type是结果的类型-->
    <resultMap id="RegisterResultMap" type="com.ten_thousand.silver_paving.dto.hz.Register">
        <id property="regId" column="re_id" javaType="java.lang.Integer"/>
        <result property="regTelphone" column="re_telphone" javaType="java.lang.String"/>
        <result property="password" column="re_password" javaType="java.lang.String"/>
        <result property="salt" column="re_salt" javaType="java.lang.String"/>
        <result property="reginviTelphone" column="re_inviter_tel" javaType="java.lang.Integer"/>
    </resultMap>
    <!--根据用户电话号码查询-->
    <select id="checkregister" resultMap="RegisterResultMap">
        SELECT re_id,re_telphone,re_password,re_salt,re_inviter_tel
        FROM tb_register
        WHERE re_telphone =#{telphone}
    </select>
    <!--全查用户登录信息-->
    <select id="findAllRegister" resultMap="RegisterResultMap">
        select re_id,re_telphone,re_password,re_salt,re_inviter_tel from tb_register
    </select>

    <!--添加用户信息-->
    <insert id="insertRegister">
       insert into tb_register (re_telphone,re_password,re_salt,re_inviter_tel) values(#{regTelphone},#{password},#{salt},#{reginviTelphone})
    </insert>

    <!--修改用户信息-->
    <update id="updateRegisterById">
        UPDATE  tb_register SET re_telphone=#{regTelphone},re_password=#{password},re_salt=#{salt},re_inviter_tel=#{reginviTelphone}
        WHERE re_id=#{regId}
    </update>

    <!--删除用户信息-->
    <delete id="deleteRegister">
        delete from tb_register WHERE re_id={regId}
    </delete>

    <!--查询用户信息总数-->
    <select id="querycount">
        SELECT COUNT(re_id) FROM tb_register
    </select>
</mapper>